{{ $glightbox := resources.Get "js/external/glightbox.min.js" }}
<script src="{{ $glightbox.RelPermalink }}" defer></script>

{{ $glightboxCSS := resources.Get "css/external/glightbox.min.css" }}
<link rel="stylesheet" href="{{ $glightboxCSS.RelPermalink }}" />

<script>
  window.addEventListener("DOMContentLoaded", function () {
    if (typeof GLightbox === "function" && document.querySelector(".glightbox")) {
      GLightbox({ selector: ".glightbox", loop: true, touchNavigation: true });
    }
  });
</script>
