{{- $src := .Get "src" -}}
{{- $alt := .Get "alt" | default "" -}}
{{- $caption := .Get "caption" | default "" -}}
{{- $title := .Get "title" | default $caption -}}
{{- $page := .Page -}}

{{- $image := $page.Resources.GetMatch (printf "*%s" $src) -}}

{{ $lightbox := (.Get "lightbox") | default "false" }}
{{ $round := (.Get "round") | default "10" }}

{{- if not $image -}}
  {{ errorf "Image '%s' not found in page bundle for %q. Ensure the image is placed in the same folder as index.md" $src $page.RelPermalink }}
{{- end -}}

{{- $sizes := slice "20x" "320x" "480x" "768x" "1024x" "1280x" "1600x" "1920x" -}}
{{- $srcset := slice -}}

{{- range $sizes -}}
  {{- $resized := $image.Resize . -}}
  {{- $srcset = $srcset | append (printf "%s %sw" $resized.RelPermalink (strings.TrimSuffix "x" .)) -}}
{{- end -}}

<figure>
  <img class="lazyload"
       data-src="{{ $image.RelPermalink }}"
       data-srcset="{{ delimit $srcset ", " }}"
       alt="{{ $alt }}">
  {{- if $caption -}}
    <figcaption>{{ $caption }}</figcaption>
  {{- end -}}
</figure>