{{ $original := .Page.Resources.GetMatch (printf "*%s*" (.Get 0)) }}
{{ $command := .Get 1 }}
{{ $options := .Get 2 }}
{{ if eq $command "Fit"}}
{{ .Scratch.Set "image" ($original.Fit $options) }}
{{ else if eq $command "Resize"}}
{{ .Scratch.Set "image" ($original.Resize $options) }}
{{ else if eq $command "Fill"}}
{{ .Scratch.Set "image" ($original.Fill $options) }}
{{ else if eq $command "Crop"}}
{{ .Scratch.Set "image" ($original.Crop $options) }}
{{ else }}
{{ errorf "Invalid image processing command: Must be one of Crop, Fit, Fill or Resize."}}
{{ end }}
{{ $image := .Scratch.Get "image" }}
<figure style="padding: 0.25rem; margin: 2rem 0; background-color: #cccc">
	<img style="max-width: 100%; width: auto; height: auto;" src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}">
  <figcaption>
	<small>
	{{ with .Inner }}
	  {{ . }}
	{{ else }}
	  {{ $command }} "{{ $options }}"
	{{ end }}
  </small>
	</figcaption>
</figure>
{{ with $original.Exif }}
<ul>
  {{ with .Date }}<li>Date: {{ .Format "January 02, 2006" }}</li>{{ end }}
  {{ with .Tags.ApertureValue }}<li>Aperture: {{ lang.FormatNumber 2 . }}</li>{{ end }}
  {{ with .Tags.BrightnessValue }}<li>Brightness: {{ lang.FormatNumber 2 . }}</li>{{ end }}
  {{ with .Tags.ExposureTime }}<li>Exposure Time: {{ . }}</li>{{ end }}
  {{ with .Tags.FNumber }}<li>F Number: {{ . }}</li>{{ end }}
  {{ with .Tags.FocalLength }}<li>Focal Length: {{ . }}</li>{{ end }}
  {{ with .Tags.ISOSpeedRatings }}<li>ISO Speed Ratings: {{ . }}</li>{{ end }}
  {{ with .Tags.LensModel }}<li>Lens Model: {{ . }}</li>{{ end }}
</ul>
{{ end }}
